:root{--maincolor:#7b5244;--subcolor:#333;}

.diplay-ib{display:inline-block;}

.display-b{display:block;}

.display-f{display:flex;}

.display-g{display:grid;}

.text-align-c{text-align:center;}

.text-align-l{text-align:left;}

.position-r{position:relative;}

.position-a{position:absolute;}

.background-main{background:var(--maincolor);}

.opacity-0{opacity:0;}

.font-bold{font-weight:bold;}

.font-norm{font-weight:normal;}